*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35px;
}

@media (min-width: 992px){
	.cont{
		background-color: lightgray;
		border: 1px solid black;
		margin-left: 2.5%;
		width: 30%;
		height: auto;
		float: left;
		position: relative;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.cont{
		background-color: lightgray;
		border: 1px solid black;
		margin-left: 2.5%;
		width: 46%;
		height: auto;
		float: left;
		position: relative;
	}

	#c3{
		clear:left;
		margin-top: 20px;
		width: 94.5%;

	}
}

@media (max-width: 767px){
	.cont{
		background-color: lightgray;
		border: 1px solid black;
		margin-left: 2%;
		margin-bottom: 20px;
		width: 96%;
		height: auto;
		float: left;
		position: relative;
	}
}

.titl{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid black;
	padding-left: 40px; 
	padding-right: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: absolute;
	right: -1px;
	top: -1px;
}

#t1{
	background-color: pink;
}

#t2{
	background-color: red;
	color: white;
}

#t3{
	background-color: yellow;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	top: 15px;
	padding: 20px;
}