* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #FF5733;
}

#header-nav {
	background-color: #A7C123;
	border-radius: 0;
	border: 0;
}

#header-nav a {
	font-size: 25px;
	color: #FFFFFF;
}

#header-nav ul a {
	font-size: 20px;
	color: black;
}

#collapsable-nav {
	background-color: lightgray;
}

#collapsable-nav li {
	border: 1px solid black;
}

.h1 {
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: bold;
}

.box {
	background-color: lightgray;
	border: 1px solid black;
	margin: 5px;
	position: relative;
}

.titl {
	width: 100%;
	text-align: center;
	position: relative;
	right: 0px;
	top: -1px;
}

p {
	font-size: 15px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

@media (min-width: 768px) {
	#collapsable-nav{
		visibility: hidden;
}